<%= form_for @book do |f| %>
<label>Category</label>

<br>
<label>book title</label>
<%= f.text_field :title,label: "Book Title", class:"form-control" %><br>
<label>description</label>
<%= f.text_field :description, class:"form-control" %><br>
<label>author</label>
<%= f.text_field :author, class:"form-control" %><br>
<%= f.button :submit %><br>
<% end %>